<!-- templates/update.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Álbum</title>
</head>
<body>
    <h1>Actualizar Álbum: {{ album.title }}</h1>
    
    <form method="POST">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" value="{{ album.title }}" required><br><br>

        <label for="artist">Artista:</label>
        <input type="text" id="artist" name="artist" value="{{ album.artist }}" required><br><br>

        <label for="genre">Género:</label>
        <input type="text" id="genre" name="genre" value="{{ album.genre }}" required><br><br>

        <label for="release_date">Fecha de Lanzamiento:</label>
        <input type="date" id="release_date" name="release_date" value="{{ album.release_date.strftime('%Y-%m-%d') }}" required><br><br>

        <button type="submit">Actualizar Álbum</button>
    </form>

    <br>
    <a href="{{ url_for('index') }}">Volver a la lista de albums</a>
</body>
</html>
